;; shadow-cljs configuration
{:dev-http {8081 "public/"}

 :source-paths
 ["src"]

 :dependencies
 [[reagent "1.1.1"]
  [re-frame "1.3.0"]]

 :builds
 {:app {:target :browser
        :output-dir "public/a"
        :asset-path "/a"
        :modules {:main {:init-fn cpi.app/main}}}}}
